.form-container {
    position: relative;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-text {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 25px;
    border: none;
    transition: 0.2s ease-in-out;
    box-shadow: inset 0 0 5px #61dafb;

}

.input-text:focus {
    box-shadow: 0 0 10px 1000px rgb(0, 0, 0);
    outline: none;

}

.input-submit {
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 12px;
    border-radius: 50px;
    right: 0;
    border: none;
    background-color: #61dafb;
    color: #282c34;
    font-size: 15px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    box-shadow: 0 0 5px #61dafb;
}

.input-submit:hover {
    background-color: #282c34;
    color: #61dafb;
    box-shadow: 0 0 10px #61dafb;
    transform: scale(0.8);
}

@media (max-width: 768px) {
    .form-container {
        width: 80%;
    }
    .input-text {
        font-size: 20px;
    }
    .input-submit {
        width: 40px;
        height: 40px;
        font-size: 10px;
    }
}
